
    dl {
        display: grid;
        grid-template-columns: 15% auto;
    }
    dt {
        grid-column: 1;
        text-align: right;
        margin-right: 10px;
    }
    dd {
        grid-column: 2;
    }
    .required-indicator.k-icon {
        color: red;
    }
    .required-indicator.k-icon,.optional-indicator.k-icon {
        font-size: 12px;
    }

    .k-dropdown .k-dropdown-wrap {
        background-color: white;
    }
    .form {
        margin-top: 20px;
    }
    .break-token {
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 700px
    }
    .header{
        margin-left: 10%;
        padding: 10px;
    }
   
       
    .k-link.k-pager-nav {
         color: black !important;
    }
    
    .k-link.k-state-selected.k-pager-nav {
        background-color: black;
        color: white !important;
        font-weight: bold;
    }
    .warning{
        color:red;
    }
    
   
    
